
body {
    background-image: url("P2.JPG");
    background-attachment: fixed;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 100% 100%;
    margin-bottom:4rem;

}

html, body {height: 100%}
#wrap {min-height: 100%;text-align:center}
#main {overflow:auto;padding-bottom: 150px}
footer {position: relative;margin-top: -150px;height: 150px;clear:both;text-align:center}
body:before {content:"";height:100%;float:left;width:0;margin-top:-32767px}


@media only screen
and (min-width: 320px)
and (max-device-width : 1024px)
{
    html{font-size: 14px;}
    body {


        background-attachment: fixed;
        background-repeat: no-repeat;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-size: 100% 100%;
    }


    .flex-box3{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-content: center;
        text-align: center;
        font-size: 0.5rem;
        flex-direction:column;
        justify-content:center;

    }

}



body.bgAbout {
    background-image: url('P1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 100% 100%;

}

body.bgContact {
    background-image: url('P3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 100% 100%;

}

#map{

    width: 100%;
    height: 10rem;

}



h1{
    color: #FFFFFF;
    text-align: center;
    color: white;
    font-size: 2.3rem;

}

#nav-wrap > a.mobile-btn { display: none; }

.nav {

    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
}

.nav a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: white;
    font-size: 1.1rem;
}

.nav a:hover {
    background: #11ABB0;
}

@media all and (max-width: 1024px) {
    .nav {
        justify-content: space-around
    }
}


@media only screen and (max-width: 767px) {
    #nav-wrap {

        background: transparent !important;
        letter-spacing: 1.5px;
        width: auto;
        position: fixed;
        top: 0;
        right: 0;
    }

    #nav-wrap > a {
        width: 40px;
        height: 50px;
        text-align: left;
        background-color:#11ABB0 ;
        position: relative;
        border: none;
        float: right;
        text-shadow: none;
        color: transparent;
        position: relative;
        top: 0px;
        right: 30px;
    }

    #nav-wrap > a:before,
    #nav-wrap > a:after {
        position: absolute;
        border: 2px solid #fff;
        top: 35%;
        left: 25%;
        right: 25%;
        content: '';
    }

    #nav-wrap > a:after {
        top: 60%;
    }


    #nav-wrap:not( :target ) > a:first-of-type,
    #nav-wrap:target > a:last-of-type {
        display: block;
    }


    #nav-wrap ul#nav {
        height: auto;
        display: none;
        clear: both;
        width: auto;
        float: right;
        position: relative;
        top: 12px;
        right: 0;
    }


    #nav-wrap:target > ul#nav {
        display: block;
        padding: 30px 20px 48px 20px;
        background: black;
        margin: 0 30px;
        clear: both;
    }

    ul#nav li {
        display: block;
        height: auto;
        margin: 0 auto;
        padding: 0 4%;
        text-align: left;
        border-bottom: 1px solid black;
        border-bottom-style: dotted;
    }

    ul#nav li a {
        display: block;
        margin: 0;
        padding: 0;
        margin: 12px 0;
        line-height: 16px;
        border: none;
    }

    .nav a {
        text-align: center;
        padding: 0.5rem;
    }

    .nav li:last-of-type a {
        border-bottom: none;
    }
}

.social {
    text-align: center;
    margin: 1rem 0;
    padding: 0;
    font-size: 1.8rem;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
.social li {
    display: inline-block;
    margin: 0 1.3rem;
    padding: 0;
}
.social li a { color: #fff; }
.social li a:hover { color: #11ABB0; }

#footer {
    position: fixed;
    background: #292929;
    -webkit-font-smoothing: antialiased;
    height: 4rem;
    font-family: "ff-basic-gothic-sc-web-pro", "source-sans-pro", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    color: #cccccc;
    font-size: 0.8rem;
    bottom: 0;
    left: 0;
    right: 0;
}
#footer #copyright {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
}
#footer #copyright ul {
    margin: 0;
}
#footer #copyright ul li {
    width: auto;
    white-space: nowrap;
    margin: 1.5rem 0 1.2rem 0.25rem;
    padding-left: 0.25rem;
    display: inline-block;
    border-left: 0.05rem solid #999999;
    line-height: 1rem;
    vertical-align: middle;
}




.bg2 {
    background-image: url('P2.JPG');
    content: '';
    background-attachment: fixed;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: 100% 100%;
}

h3 {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    top: 0;
}



.highlighted {
    background: lightblue;
}
.flex-SearchBox{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #292929;
    width: 70%;
    height: 18rem;
    margin: auto;
    opacity: 0.8;

}

.search-item1{
    color: white;

}


.flex-box1 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    height: 25rem;
    width: 70%;
    margin: auto;
    opacity: 0.8;

}

.flex-item1 {
    width: 20rem;
    height: 20rem;
    margin: 0.5rem;
    color: white;
    align-content: center;

}

.p {

    color: white;
    margin: 6rem;
    padding: 1.5rem;
    font-size: 1rem;
    line-height: 1.2rem;
}

h4 {
    color: black;
    font-size: larger;
    padding: 20px;
    text-align: center;
}

.contact {

    background-color: aliceblue;
    color: black;
    font-size: 1rem;
    text-align: center;
    width: 22rem;
    height: 30rem;
}

.flex-box2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    width: 100%;
    height: 34rem;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    opacity: 0.8;

}

.flex-item2 {
    background-color: aliceblue;
    width: 20rem;
    height: 26rem;
    color: black;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
}



.button {
    width: 7.5rem;
    font-size: 1rem;
    border-radius: 0;
}


.carousel-container {
    width: 90%;
    margin:auto;
}


.carousel-container img {
    width: 70%;
    height: 25rem;
    margin-left: 15%;
}

.next {
    margin-left: 90%;
}

.next, .prev {
    top: 70%;
    position: absolute;
    transition: 0.6s ease;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}

.dot{
    text-align: center;
    cursor: pointer;
    height: 13px;
    width: 13px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 2px;
    display: inline-block;
    transition: background-color 0.6s ease;

}

.active, .dot:hover{
    background-color: #717171;
}
